/**
* CSS
* 
* @version 1.0
* @author Vaska 
* @author Gregory Cadar
* @author Cottser / Scott Reeves
*/
html {
    overflow: hidden;
}

body {
    height: 100%;
    overflow: auto;
}

#menu {
    float: left;
    width: 180px;
    overflow: auto;
    top: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
	background-color: #fff;
	margin-right: 25px;
}

#content {
    height: 100%;
    margin: 0 0 0 215px;
    position: absolute;
    top: 14px;
}

* html div#menu {
    width: 20%;
}

* html div#content {
    height: 100%;
    width: 80%;
    overflow: auto;
    position: absolute;
    margin: 0;
}

#content ul {
	margin-left: 1.25em;
}

img.png {
	background-image: expression(
		this.runtimeStyle.backgroundImage = "none",
		this.runtimeStyle.filter =
		"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src +
		"', sizingMethod='image')",
		this.src = "/path/to/transparent.gif"
	);
}